:root {
  box-sizing: border-box;

  --cyan: hsl(179, 62%, 43%);
  --light-cyan: hsl(179, 47%, 52%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  margin: 0;

  font-family: "Karla", sans-serif;
  font-size: 1rem;
  line-height: 1.5;

  display: flex;
  flex-direction: column;
}

img,
picture {
  max-width: 100%;
  display: block;
}

main {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[class|="join-card"] {
  color: var(--light-gray);
}

[class|="join-card"] > *:first-child,
[class|="join-card"] > *:last-child {
  margin: 0;
}

.join-card-hero h2 {
  color: var(--cyan);
  font-size: 20px;
  font-weight: 700;
}

.join-card-hero p:first-of-type {
  color: var(--bright-yellow);
  font-size: 15px;
  font-weight: 700;
}

.join-card-hero p {
  color: var(--grayish-blue);
  font-size: 13px;
}

.join-card-cta {
  background-color: var(--cyan);
}

.join-card-cta h2 {
  font-size: 18px;
  font-weight: bold;
}

.join-card-cta__pricing span:nth-of-type(1) {
  font-size: 30px;
  font-weight: 700;
}

.join-card-cta__pricing span:nth-of-type(2) {
  font-size: 15px;
  opacity: 0.5;
}

.join-card-cta p {
  font-size: 15px;
  opacity: 0.7;
}

.join-card-why {
  background-color: var(--light-cyan);
}

.join-card-why h2 {
  font-size: 18px;
  font-weight: bold;
}

.join-card-why ul {
  font-size: 13px;
  opacity: 0.7;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;

  /* Source: https://www.a11yproject.com/posts/how-to-hide-content/ */
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
